VITE_GOOGLE_CLIENT_ID=your-client-id-here.apps.googleusercontent.com
VITE_WHOOP_CLIENT_ID=optional
VITE_WHOOP_CLIENT_SECRET=optional
VITE_OURA_PERSONAL_TOKEN=optional
VITE_STRAVA_CLIENT_ID=optional
VITE_STRAVA_CLIENT_SECRET=optional
